<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <section></section>
    <div class="navbar-menu">
        <h1 style="font-size: 40px; margin: 20px;">Tech Blog</h1>
    
        {{#if loggedIn}}
        <a href="/">Home</a>
        <a href="/">Dashboard</a>
        <a href="/">Logout</a>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </div>
    </header>
    <main>
        {{{ body }}}
    </main>

    {{#if loggedIn}}
    <script src=""></script>
    {{/if}}
</body>
</html>